/* ///////////////////// FONT-FACE ///////////////////// */
@font-face{
  font-family:'SpaceGrotesk';
  src:url('../fonts/SpaceGrotesk-Regular.woff2'),
  url('../fonts/SpaceGrotesk-Regular.woff');
  font-weight: normal;
}

@font-face{
  font-family:'SpaceGrotesk';
  src:url('../fonts/SpaceGrotesk-Bold.woff2'),
  url('../fonts/SpaceGrotesk-Bold.woff');
  font-weight: bold;
}

/* ///////////////////// GÉNÉRAL ///////////////////// */
body{
  font-family: 'SpaceGrotesk';
  font-size: calc(6px + 1vw);
  font-weight: normal;
  padding: 0.5vw;
  height: calc(1.4142857 * 100vw);
}

section{
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

h1{
  font-size: 2em;
  font-weight: bold;
}

h2{
  margin-bottom: 10px;
}

h1::before, h2::before{
  content: '🗁 ';
  font-size: 1.5em;
  vertical-align: -15%;
}

p{
  display: inline;
  font-size: 0.6em;
  margin-right: 1em;
}

p::before{
  content: '🖻';
  font-size: 2em;
  vertical-align: -20%;
  margin-right: 0.1em;
}

/* 🖹 */

h1, .dossier{
  margin-bottom: 1em;
  margin-right: 1em;
}

.dossier{
  border: solid #363636 calc(0.5px + 0.1vw);
  flex-grow: 1;
  max-width: 96%;
  padding: 1% 1.5% ;
  word-wrap: break-word;
}

.dossier .dossier {
  border: dashed #363636 calc(0.5px + 0.1vw);
}

.dossier h2{
  font-weight: bold;
  margin-bottom: 0.3em;
}
