body{
  padding:1vw;
}

h1{
  font-size: 4em;
  font-weight: bold;
}

.dossier{
  background: gray;
  border:solid black 2px;
  padding: 1vw;
  margin: 1vw;
}
.dossier h2{
  font-size: 2em;
  font-weight: bold;
}

.dossier .dossier{
  background: lightgray;
  border:dotted;
}
